# MongoDB Connection
MONGO_URL=mongodb+srv://root:shri@cluster0.56811wo.mongodb.net/admissionDB?retryWrites=true&w=majority&appName=Cluster0
# Session Secret (koi bhi random strong string)
SESSION_SECRET=supersecret123

# Node Environment
NODE_ENV=production

# Frontend URL (Vercel/Netlify par deploy hone ke baad aayega)
FRONTEND_URL=https://admission-automation-system.vercel.app/

# Port (Render automatically set karta hai, change mat karna)
PORT=8000

# Twilio (optional - WhatsApp OTP ke liye)
TWILIO_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH=your_twilio_auth_token
TWILIO_PHONE=+14155238886
